<footer class="footer">
    &copy; <%= new Date().getFullYear(); %> PS: Built 
    with NodeJS. Visit 
    <a href=https://intro-to-ps.netlify.app>
        https://intro-to-ps.netlify.app</a> for more. 
</footer>